


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap');

/* Global variables */
:root{
    --primary:#12bdff;
    --primary-hover:#0c8ec2;
    --dark-primary:#1b1f24;
    --nunito: "Nunito Sans", sans-serif;
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Nunito Sans", sans-serif !important;
}

/* header */
header{
    background-color:var(--dark-primary);
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



/* logo */

header .logo{
color: var(--primary);
font-weight: bold;
letter-spacing: 2px;
}

header ul{
    list-style: none;
    display: flex;
}

 header ul li{
    margin-right: 20px;
}
header ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

header ul li a:hover{
    color:var(--primary)
}


/* Hemo section Homepage */

section.hero-section
{
    background-color: var(--dark-primary);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 20px 120px 0px 240px;
}

.hero-section__title{
    font-size: 48px;
    font-weight: 900;
}

.hero-section__title >span{
    color: var(--primary);
}

.hero-section__desc{
    color: #c4c4c4;
}

.social-icons{
    margin: 20px 0;
}

.social-icons li{
    margin-right: 15px;
}

ul.social-icons {
    list-style: none;
    display: flex;
}

.social-icons li > a{
    text-decoration: none;
    color: #fff;
}

.social-icons li a > i.fa-facebook:hover{
    color:#1877F2;
}

.social-icons li a>i.fa-linkedin:hover
{
    color: #0072b1;
}

.social-icons li a>i.fa-instagram:hover{
    color: #feda75;
}

.social-icons li a>i.fa-twitter:hover{
    color: #1DA1F2;
}
.hero-buttons button{
    margin-right: 10px;
}

/* button */

.btn{
    padding: 10px 20px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.btn.btn-primary{
     background-color: var(--primary);
     font-weight: 600px;
     color:var(--dark-primary)

}

.btn-dark-outlined
{
    background-color: var(--dark-primary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
    font-weight: bold;
}


.btn-dark-outlined:hover{
    cursor: pointer;
    background-color: var(--primary);
    color: #fff;
}

/* About  me Section*/

.about-section{
    background: #22282f;
    color: #fff;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section >img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid var(--primary);
    box-shadow: 2px 5px 25px var(--primary-hover);
   
}

.about-section__desc{
  margin-left: 100px;
  max-width: 450px;
}

.about-section__desc h4{
    font-size: 30px;
    font-weight: 900;
}
.about-section__desc span{
    color: var(--primary);
}

.about-section__desc ul{
    list-style: none;
 
    /* margin-top: 10px;
    margin-bottom: 10px; */
    margin: 10px 0;
}
.about-section__desc li{
    margin-bottom: 10px;
    color: gray;
}
.about-section__desc li a{
    text-decoration: none;
    color: gray;
}
.about-section__desc li a:hover{
    color: var(--primary-hover);
}

.about-section__desc li > strong{
    color: white;
}

/* work section */
.work-section{
    background-color: var(--dark-primary);
    color: #fff;
    padding: 60px;
    text-align: center;
}
.work-section__title{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 40px;
}
.work-section__title span{
    color: var(--primary);
}
.work-section-items{
    display: flex;
    justify-content: center;
}
    
.work-section__card{
    background-color: #22282f;
    padding: 30px;
    max-width: 300px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 40px;
}

.work-section__card:hover{
    background-color: #14171c;
}


.work-section__card p{
    color: gray;
    font-size: 14px;
    padding-top: 5px;
}
.work-section__card a{
    text-decoration: none;
    color: #feda75;
}
.work-section-card__desc{
    margin-top: 20px;
    margin-bottom: 10px;
}

.work-section-card__icon{
    background-color: var(--primary);
    padding: 10px;
    border-radius: 50%;
}

.work-section-card__icon:hover{
    background-color: var(--primary-hover);
}


/* contact-section */
.contact-section h4{
    font-size: 30px;
    margin: 20px 0 ;
    font-weight: 900;
}

.contact-section h4 span{
    color: var(--primary);
}

.contact-section{
    background-color: #14171c;
    padding: 40px;
    color: #fff;
    text-align: center;
}


.contact-section form  input,textarea{
    padding: 5px 10px;
    outline: none;
    width: 350px;
    border: none;
    background-color: #c4c4c4;
    border-radius: 2px;
    margin: 10px;
    resize: none;
}


/* footer section  */

footer{
    background-color: var(--dark-primary);
    color: gray;
    padding: 20px 0px;
    text-align: center;
    font-size: 12px;
}

footer a{
    text-decoration: none;
    color: var(--primary);
}


/* Media Query  */

@media only screen and (max-width:600px)
{
    header{
        flex-direction: column;
    }
    header > *{
        margin-bottom: 10px;
    }
    /* hero section  */
   section.hero-section{
        flex-direction: column;
       padding: 40px;
    }
    /* About Section  */
    section.about-section{
        flex-direction: column;
    }
    section .about-section__desc{
        margin-left: 0px;
        margin-top: 30px;
    }
    /* My work  */

   .work-section{
    padding: 0px;
   }

    .work-section-items{
        flex-direction: column;
        align-items: center;
    }
    .work-section__card{
        margin:20px ;
        width: 100%;
        margin-right: 0px;
    }
    
    /* contact section  */
    .contact-section form input,textarea{
        width: 100%;
    }
}



